# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# production
/build

# local env files
.env*.local
.env

# Python
*.log
*.pyc
__pycache__
*.sqlite3

# Environments
.env
.venv
env/
venv/
venv*/
ENV/
env.bak/
venv.bak/